body{
    background-color: gray;
}
.topBanner{
    text-transform: uppercase;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 50px;
}

.gameBox{
    width:100%;
    height:600px;
    border:2px;
    border-color: black;
    border-style: solid;
    display:flex;
    align-items:center;
    flex-direction: column;
    background-image: url('dungeon.jpg');
    background-size: cover;
}
h2 {
    padding: 2px;
    margin: 1px;
}

#textbox{
    width:60%;
    height: 400px;
    background-color:rgba(248, 248, 255, 0.75);
    margin: 10px;

}
#console{
    width:60%;
    height: 150px;
    display:flex;
}
.buttons{
    Height:80px;
    width: 100px;
    align-items: center;
    background-color: green;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Grenze Gotisch', cursive;
    border-radius: 10%;
    margin: 2px;
    text-align: center;
    cursor: pointer;
}
#dragonDeath {
    font-size: 20px;
}

@media (max-width:600px) {
   p{ 
    font-size:15px;
   }
    #dragonDeath {
        font-size: 15px;
    }
    #goRight {
        font-size: 12px;
    }
}
